/* removes extra height from default margins so scrollbar doesn't appear when body height: 100vh  */
html, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #cccccc;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* pushes header & footer to top & bottom of page */
    align-items: center;
    min-height: 100vh; /* ensures element stretches to at least the full height of screen */
}

main {
    margin: auto; /* centers main */
}

.calcContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
    min-height: 600px;
    background-color: black;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 50px;
    padding: 30px 40px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.calcDisplay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 125px;
    flex: 1;
    border-radius: 10px;
    position: relative;
    margin: 35px 0px 12px;
}

.runningText {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: right;
    font-size: 35px;
    padding: 10px 15px;
    font-weight: 100; 
    color: rgb(202, 202, 202);
}

.displayText {
    font-size: 45px;
    padding: 0px 15px;
    text-align: right;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "AC C percent div"
        "7 8 9 mult"
        "4 5 6 sub"
        "1 2 3 add"
        "zero zero decimal equal";
    grid-gap: 1em;
    width: 350px;
}




.calcButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    background-color: #313131;
    font-size: 25px;
    font-weight: 500;
}

.calcButton.number {
    background-color: #313131;
    transition: background-color .2s ease-in-out;
}

.calcButton.number:hover {
    background-color: #797979;
}

.calcButton.number:active {
    background-color: #313131;
    transform: scale(0.85);
}

.calcButton.operator,
.calcButton.equal {
    background-color: #f69906;
    transition: all .2s ease-in-out;
}

.calcButton.operator:hover,
.calcButton.equal:hover {
    color: #f69906;
    background-color: white;
}

.calcButton.operator:active,
.calcButton.equal:active {
    color: white;
    background-color: #f69906;
    transform: scale(0.85);
}

.calcButton.other {
    color: black;
    background-color: #9f9f9f;
    transition: all .2s ease-in-out;
}

.calcButton.other:hover {
    background-color: #dddddd;
}

.calcButton.other:active {
    background-color: white;
    transform: scale(0.85);
}

footer {
    margin: 15px 0px;
    color: black;
}


.calcButton.number[data-val='0'] {
    text-align: left;
    padding-left: 20px;
    width:auto; 
    border-radius: 50px;
    grid-area: zero;
} 

.line {
    width: 120px;
    border-bottom: 3px solid white;
    margin: 30px auto 0;
}